body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 800px;
  font-family: "Fraunces", "Montserrat";
  background-color: hsl(30, 38%, 92%);
}

.container {
  position: absolute;
  width: 600px;
  height: 450px;
  left: 420px;
  top: 175px;
  background-color: #ffffff;
}
.container img {
  width: 300px;
  height: 450px;
  width: 300px;
  height: 450px;
  left: 420px;
  top: 175px;
}

h1 {
  position: absolute;
  width: 92px;
  height: 15px;
  top: 32px;
  left: 331.5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 5px;
  color: #6c7289;
}

h2 {
  position: absolute;
  width: 236px;
  height: 96px;
  top: 67px;
  left: 332px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1c232b;
}
p {
  position: absolute;
  width: 237px;
  height: 92px;
  top: 187px;
  left: 331.5px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
}

.p_discount {
  position: absolute;
  width: 127px;
  height: 32px;
  top: 308px;
  left: 332px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3d8168;
}

.p_full {
  position: absolute;
  width: 48px;
  height: 23px;
  top: 313px;
  left: 478px;
  font-family: "Montserrat";
  font-style: normal;
  position: absolute;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6c7289;
}

.btn {
  position: inherit;
  display: inline-block;
  width: 236px;
  height: 48px;
  top: 370px;
  left: 332px;
  background-color: hsl(158, 36%, 37%);
  color: black;
  border-radius: 8px;
}

/* .btn img {
  position: inherit;
  width: 14.39px;
  height: 16px;
  top: 1px;
  left: 63px;
  top: 16px;
}
 */
/* .btn a {
  color: #ffffff;
  position: inherit;
  width: 85px;
  height: 17px;
  left: 89px;
  top: 15px;
  font-size: 14px;
} */

.btn:hover {
  position: inherit;
 /*  color: #1A4032; */
  background-color: #1A4032;
  cursor: pointer;
}