body {
  padding: 0;
  margin: 0;
  font-family: "Fraunces", "Montserrat";
  position: absolute;
  width: 600px;
  height: 450px;
  left: 420px;
  top: 175px;
}

img {
  position: absolute;
  width: 300px;
  height: 450px;
  left: 0px;
  top: 0px;
}

h1 {
  position: absolute;
  width: 92px;
  height: 15px;
  top: 32px;
  left: 332px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #6c7289;
}

h2 {
  position: absolute;
  width: 236px;
  height: 96px;
  top: 67px;
  left: 332px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;

  color: #1c232b;
}
p {
  position: absolute;
  width: 237px;
  height: 92px;
  top: 187px;
  left: 332px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  /* or 164% */

  /* Aurometal Saurus */

  color: #6c7289;
}

.p_discount {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height, or 100% */

  /* Deep Aquamarine */

  color: #3d8168;
}

.p_full {
  font-family: "Montserrat";
  font-style: normal;
  position: absolute;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6c7289;
}

.key {
  position: absolute;
  width: 236px;
  height: 48px;
  top: 370px;
  left: 332px;

  background: #3d8168;
  border-radius: 8px;
}

.key img {
  width: 14px;
  height: 16px;
}

.btn {
  position: absolute;
  width: 85px;
  height: 17px;
  left: 26px;
}

.group4 {
  width: 111px;
  height: 18px;
  top: 385px;
  left: 395px;
}
